@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.imagem{
    height: 100vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
    overflow: hidden;
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

.imagem#img1 {
    background-image: url(../imagens/tesouras.jpg);
}

#img1 > h1{
    font-family: 'Pirata One', sans-serif;
    color: white;
    text-align: center;
    font-size: 120px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
}

.texto {
    background-color: #fff5ef;
    margin: 0 auto;
    padding: 20px 5px 20px 5px;
    min-height: 500px;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.texto > h2 {
    font-size: 30px;
    margin-bottom: 30px;
    padding: 0 10px;
}

.texto > p {
    margin-bottom: 30px;
    font-size: 18px;
    padding: 0 10px;
    max-width: 760px;
}

.texto > p:last-child {
    margin-bottom: 0;
}

.imagem#img2 {
    background-image: url(../imagens/maquinas.jpg);
    align-items: center;
}

.box {
    padding: 10px;
    max-width: 700px;
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    display: inline-block;
}

.box h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-bottom: 30px;
    color: white;
}

.box p {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

.box p:last-child{
    margin-bottom: 0px;
}

footer {
    background-color: black;
    height: 80px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
    font-size: 1.1em;
}

footer p:last-child{
    margin-top: 15px;
}

footer a {
    color: #af0d1a;
    text-decoration: none;
}

footer a:hover {
    background-color: #af0d1a;
    color: white;
    padding: 1px;
    border-radius: 2px;
    text-decoration: underline;
}